@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin';
}
.main {
    padding: 16px 200px;
}
.main .title {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    border-bottom: 1px solid rgb(0, 179, 255);
    color: rgb(0, 153, 255);
}
.level-number {
    text-align: right;
    font-size: 26px;
    color: orange;
}
.controls {
    display: flex;
    justify-content: center;
}
.controls .control-btn {
    font-size: 24px;
    padding: 4px 48px;
    border-radius: 4px;
    margin: 0 6px;
    cursor: pointer;
    transition: color .2s ease;
}
.controls .control-btn:hover {
    color: #fff;
}
.input-group {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.input-group input {
    width: 60px;
    height: 60px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 12px;
}
.result-title {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: orange;
    border-bottom: 1px solid orange;
    margin-top: 12px;
}
ul.list-result {
    padding: 0;
}
ul.list-result li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0 150px;
    margin: 4px 0;
}
ul.list-result li span {
    font-size: 35px;
    width: 50px;
    height: 50px;
    display: flex;
    margin: 0 12px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: #fffcfc;
    padding: 100px;
    box-shadow: 0 0 10px #0007;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.modal-title {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(248, 162, 3);
    text-shadow: 0 0 2px #0006;
}
.modal-description {
    font-size: 20px;
    font-style: italic;
    color: #0008;
    text-shadow: 0 0 2px #0004;
}
.modal-level {
    font-size: 20px;
    color: rgb(0, 136, 255);
    margin: 4px 0;
}
.modal-score {
    font-size: 40px;
    color: red;
    font-weight: 600;
    letter-spacing: 12px;
}
.modal-btn {
    margin: 0 20%;
    margin-top: 30px;
    font-size: 20px;
    background: rgb(248, 162, 3);
    padding: 4px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background .2s ease;
}
.modal-btn:hover {
    background: rgb(40, 141, 242);
}
.modal-result {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
    margin-top: 12px;
    color: rgb(230, 157, 10);
    background: #fff;
    border-radius: 4px;
}
@media screen and (max-width: 480px) {
    .main {
        padding: 4px 12px;
    }
    .main .title {
        font-size: 20px;
    }
    .level-number {
        font-size: 16px;
    }
    .input-group input {
        width: 30px;
        height: 30px;
        font-size: 24px;
    }
    .controls .control-btn {
        font-size: 18px;
        padding: 2px 18px;
    }
    .result-title {
        font-size: 18px;
    }
    ul.list-result li span {
        width: 30px;
        height: 30px;
        font-size: 24px;
    }
    .modal-content {
        padding: 50px;
    }
    .modal-title {
        font-size: 18px;
        letter-spacing: 2px;
    }
    .modal-description {
        font-size: 12px;
    }
    .modal-score {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .modal-btn {
        padding: 2px 18px;
        font-size: 12px;
    }
    .modal-level {
        font-size: 12px;
    }
}
.correct {
    background: green;
    color: #fff;
}
.incorrect {
    background: rgb(232, 8, 8);
    color: #fff;
}
.warn-correct {
    background: rgb(232, 157, 8);
    color: #fff;
}
.d-none {
    display: none;
}
.submit {
    background: rgb(3, 151, 3);
}
.clear {
    background: rgb(0, 187, 255);
}